{% extends "base.html" %}

<!-- Blog entry form, need title field and entry field  -->

{% block content %}
<h1> New Blog Entry</h1>
<table>
    <form action="/" method="post">
        <tr>
            <tr>
                <label for="title_field">Title your post:</label>
            </tr>
            <tr> 
                <input id="title_field" name="title" type="text" value="{{ new_entry_title }}" />
            </tr>   
            
        </tr>
        <tr>
            <td>
                <label for="body_field">What would you like to say?</label>
            </td>
            <td>
                <textarea rows="4" cols="50" id="body_field" name="content" value="{{ new_entry_body }}">What would you like to say?</textarea>
            </td>
        </tr>
        <tr>
            <td><input id="submit_button" type="submit" value="Save"></td>
        </tr>
    </form>
</table>    
{% endblock %}
